.dropdown-item {
    cursor: pointer !important;
}

.login-aside-left {
    background-image: url("../../img/login.jpg");
    background-size: cover;
}

.bg-img-profile {
    background-image: url("../../assets/img/blogpost.jpg");
}