<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout/perusahaan}">
<head>
  <meta charset="UTF-8">
  <title>Tambah Perusahaan</title>
</head>
<body>
<div layout:fragment="content">
  <div class="col-md-12">
    <div class="card shadow">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Tambah Perusahaan</h4>
        </div>
      </div>
      <div class="card-body">

      <form th:action="@{/perusahaan/verifikasi/create}" th:object="${perusahaanObject}" id="perusahaanForm" method="post" enctype="multipart/form-data">

        <div class="form-group">
          <label for="namaPerusahaan">Nama Perusahaan <span class="text-danger">*</span></label>
          <input type="text" th:field="*{namaPerusahaan}" id="namaPerusahaan" placeholder="Nama Perusahaan"
                 th:class="'form-control '+ ${#fields.hasErrors('namaPerusahaan') ? 'is-invalid' : ''}">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('namaPerusahaan')}" th:errors="*{namaPerusahaan}"></div>
        </div>
        <div class="form-group">
          <label for="alamatLengkap">Alamat Lengkap <span class="text-danger">*</span></label>
          <textarea th:field="*{alamatLengkap}" id="alamatLengkap" placeholder="Alamat Lengkap"
                 th:class="'form-control '+ ${#fields.hasErrors('alamatLengkap') ? 'is-invalid' : ''}"></textarea>
          <div class="invalid-feedback" th:if="${#fields.hasErrors('alamatLengkap')}" th:errors="*{alamatLengkap}"></div>
        </div>
        <div class="form-group">
          <label for="provinsi">Provinsi <span class="text-danger">*</span></label>
          <input type="text" th:field="*{provinsi}" id="provinsi" placeholder="Provinsi"
                 th:class="'form-control '+ ${#fields.hasErrors('provinsi') ? 'is-invalid' : ''}">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('provinsi')}" th:errors="*{provinsi}"></div>
        </div>
        <div class="form-group">
          <label for="kota">Kota <span class="text-danger">*</span></label>
          <input th:field="*{kota}" id="kota" placeholder="Kota"
                    th:class="'form-control '+ ${#fields.hasErrors('kota') ? 'is-invalid' : ''}">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('kota')}" th:errors="*{kota}"></div>
        </div>
        <div class="form-group">
          <label for="bidangPerusahaan">Bidang Perusahaan <span class="text-danger">*</span></label>
          <input th:field="*{bidangPerusahaan}" id="bidangPerusahaan" placeholder="Bidang Perusahaan"
                    th:class="'form-control '+ ${#fields.hasErrors('bidangPerusahaan') ? 'is-invalid' : ''}">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('bidangPerusahaan')}" th:errors="*{bidangPerusahaan}"></div>
        </div>

        <div class="form-group">
          <label for="fotprof">Foto Profil</label>
          <input type="file" name="file" id="fotprof" placeholder="Foto Profil" class="form-control">
<!--          <div class="invalid-feedback" th:if="${#fields.hasErrors('fileAttachment')}" th:errors="*{fileAttachment}"></div>-->
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Lanjut</button>
          <a href="/perusahaan" class="btn btn-warning ml-1">Batal</a>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
</body>

</html>
