<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout/perusahaan}">
<head>
    <meta charset="UTF-8">
    <title>Detail Pengajuan Verifikasi</title>
</head>

<body>
<div layout:fragment="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Detail Pengajuan Verifikasi</h4>
                </div>
            </div>

            <div class="card-body">

                <form th:action="@{/perusahaan/verifikasi/detail/{id}(id=${verifikasiperusahaan.id})}" th:object="${verifikasiperusahaan}" id="verifikasiperusahaanForm" method="post" enctype="multipart/form-data">

                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="font-weight-bold">Nama Perusahaan</label>
                            </br>
                            <span th:text="${verifikasiperusahaan.perusahaan.userLogin.nama}"/>
                        </div>
                        <div class="col-lg-4">
                            <label class="font-weight-bold">Alamat lengkap</label>
                            </br>
                            <span th:text="${verifikasiperusahaan.perusahaan.alamatLengkap}"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="font-weight-bold">Provinsi</label>
                            </br>
                            <span th:text="${verifikasiperusahaan.perusahaan.provinsi}"/>
                        </div>
                        <div class="col-lg-4">
                            <label class="font-weight-bold">Kota</label>
                            </br>
                            <span th:text="${verifikasiperusahaan.perusahaan.kota}"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="font-weight-bold">Bidang Perusahaan</label>
                            </br>
                            <span th:text="${verifikasiperusahaan.perusahaan.bidangPerusahaan}"/>
                        </div>
                        <div class="col-lg-4">
                            <label class="font-weight-bold">NPWP</label>
                            </br>
                            <span th:text="${verifikasiperusahaan.npwp}"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="font-weight-bold">Tanda Daftar Perusahaan</label>
                            </br>
                            <a th:href="${'/uploads/tdp/'+verifikasiperusahaan.tdp}" class="btn btn-primary btn-sm">Download TDP</a>
                        </div>
                        <div class="col-lg-4">
                            <label class="font-weight-bold">Surat Izin Usaha</label>
                            </br>
                            <a th:href="${'/uploads/siu/'+verifikasiperusahaan.siu}" class="btn btn-primary btn-sm">Download SIU</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="font-weight-bold">Komentar</label>
                            </br>
                            <textarea th:field="*{komentar}" id="komentar" placeholder="Komentar"
                                      th:class="'form-control '+ ${#fields.hasErrors('komentar') ? 'is-invalid' : ''}"
                                      th:disabled="${verifikasiperusahaan.hasil != null}"></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('komentar')}" th:errors="*{komentar}"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>