<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      lang="en"
      layout:decorate="~{layout/perusahaan}">
<head>
    <meta charset="UTF-8">
    <title>Info Perusahaan</title>
</head>

<body>

<div layout:fragment="header">
    <h4 class="page-title">Akun</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Informasi</a>
        </li>
    </ul>
</div>

<div layout:fragment="content">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            Ayo lengkapi profil perusahaanmu terlebih dahulu!
        </div>
        <div class="card shadow">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Informasi Perusahaan</h4>
                </div>
            </div>
            <div class="card-body">
                <form th:action="@{/perusahaan/verifikasi/create}" th:object="${perusahaan}" id="perusahaanForm" method="post" enctype="multipart/form-data">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="bidangPerusahaan">Bidang Perusahaan <span class="text-danger">*</span></label>
                            <input th:field="*{bidangPerusahaan}" id="bidangPerusahaan" placeholder="Bidang Perusahaan"
                                   th:class="'form-control '+ ${#fields.hasErrors('bidangPerusahaan') ? 'is-invalid' : ''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('bidangPerusahaan')}" th:errors="*{bidangPerusahaan}"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alamatLengkap">Alamat Lengkap <span class="text-danger">*</span></label>
                        <textarea th:field="*{alamatLengkap}" id="alamatLengkap" placeholder="Alamat Lengkap"
                                  th:class="'form-control '+ ${#fields.hasErrors('alamatLengkap') ? 'is-invalid' : ''}"></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('alamatLengkap')}" th:errors="*{alamatLengkap}"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="provinsi">Provinsi <span class="text-danger">*</span></label>
                            <input type="text" th:field="*{provinsi}" id="provinsi" placeholder="Provinsi"
                                   th:class="'form-control '+ ${#fields.hasErrors('provinsi') ? 'is-invalid' : ''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('provinsi')}" th:errors="*{provinsi}"></div>
                        </div>
                        <div class="col-md-6">
                            <label for="kota">Kota <span class="text-danger">*</span></label>
                            <input th:field="*{kota}" id="kota" placeholder="Kota"
                                   th:class="'form-control '+ ${#fields.hasErrors('kota') ? 'is-invalid' : ''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('kota')}" th:errors="*{kota}"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Foto Profil</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="file" placeholder="Foto Profil">
                            <label class="custom-file-label font-normal" for="file">Pilih Foto Profil</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Lanjut</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="scripts">
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>