<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      lang="en"
      layout:decorate="~{layout/perusahaan}">
<head>
    <meta charset="UTF-8">
    <title>Info Perusahaan</title>
</head>

<body>
<div layout:fragment="content">
    <div class="col-md-3">
        <div class="card card-profile">
            <div class="card-header bg-img-profile">
                <div class="profile-picture">
                    <div class="avatar avatar-xl">
                        <img th:src="@{'/uploads/foto_perusahaan/' + ${perusahaan.fotoProfil}}" alt="..." class="avatar-img rounded-circle img-thumbnail">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="user-profile text-center">
                    <div class="name" th:text="${perusahaan.namaPerusahaan}"></div>
                    <div class="job mb-2" th:text="${perusahaan.bidangPerusahaan}"></div>
<!--                    <div class="desc">A man who hates loneliness</div>-->
<!--                    <div class="view-profile">-->
<!--                        <a href="#" class="btn btn-secondary btn-block">View Full Profile</a>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="card-footer">
                <div class="row user-stats text-center">
                    <div class="col">
                        <div class="number">125</div>
                        <div class="title">Post</div>
                    </div>
                    <div class="col">
                        <div class="number">25K</div>
                        <div class="title">Followers</div>
                    </div>
                    <div class="col">
                        <div class="number">134</div>
                        <div class="title">Following</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-with-nav">
            <div class="card-header">
                <div class="row row-nav-line">
                    <ul class="nav nav-tabs nav-line nav-color-secondary w-100 pl-3" role="tablist">
                        <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#profile" role="tab" aria-selected="true">Profile</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#security" role="tab" aria-selected="false">Security</a> </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
                        <form action="#" th:object="${perusahaan}" id="pengalamanForm" method="post" enctype="multipart/form-data">
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group form-group-default">
                                        <label>Name Perusahaan</label>
                                        <input type="text" class="form-control" name="name" placeholder="Name" th:field="*{namaPerusahaan}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-default">
                                        <label>Email</label>
                                        <input type="email" class="form-control text-muted" name="email" placeholder="Name" th:field="*{userLogin.email}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default">
                                        <label>Bidang</label>
                                        <input type="text" class="form-control" name="address" th:field="*{bidangPerusahaan}">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group form-group-default">
                                        <label>Provinsi</label>
                                        <input type="text" class="form-control" name="address" th:field="*{provinsi}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-default">
                                        <label>Kota</label>
                                        <input type="text" class="form-control" name="address" th:field="*{kota}">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 mb-1">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default">
                                        <label>Alamat</label>
                                        <input type="text" class="form-control" value="st Merdeka Putih, Jakarta Indonesia" name="address" th:field="*{alamatLengkap}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Simpan</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="profile-tab">
                        <form th:action="@{/perusahaan/profile/security}" th:method="post" th:object="${userLogin}">
                            <div class="form-group">
                                <div class="alert alert-info" role="alert">
                                    <span>Untuk merubah email, harap hubungi System Administrator.</span>
                                </div>
                                <label class="control-label">Email</label>
                                <input type="email" class="form-control" placeholder="Email" th:field="*{email}" required="" readonly>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password Baru</label>
                                <input type="password" class="form-control" placeholder="Password Baru" th:field="*{password}" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password Lama</label>
                                <input type="password" class="form-control" placeholder="Password Baru" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
                                <!--                        <a href="/admin/profile" class="btn btn-secondary">Kembali</a>-->
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>