<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout/main}">
<head>
  <meta charset="UTF-8">
  <title>Detail</title>
</head>

<body>
<div layout:fragment="content">
  <section class="mt-5">
    <div class="row row-flex justify-content-center">
      <div class="col-md-7">
        <div class="card-job px-4 pt-2 overflow-hidden">
          <div class="d-flex align-items-center justify-content-between">
            <div class="media my-4">
              <img
                      src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Logo_flip.png"
                      class="img-company img-company-profile mr-3">
              <div class="media-body">
                <a href="#" class="job-title">Front-End Web Developer</a>
                <a href="#" class="job-subtitle">PT. Fliptech Indonesia</a>
                <div class="custom-badge-container success sm">
                  <div class="custom-badge"><i class="far fa-check-circle"></i> Aktif</div>
                </div>

              </div>
            </div>

            <div class="card-job-content-button">
              <a href="#" class="btn btn-outline-primary d-block mb-2"><i class="fa fa-share"></i> Bagikan</a>
              <a href="#" class="btn btn-primary d-block"><i class="fa fa-sticky-note"></i> Lamar</a>
            </div>
          </div>

          <div class="card-job-detail m-1">
            <div class="row">
              <div class="col-md-3 block">
                <div class="title">Penempatan</div>
                <div class="content">Jakarta Utara</div>
              </div>
              <div class="col-md-3 block">
                <div class="title">Tipe Karyawan</div>
                <div class="content">Part Time</div>
              </div>
              <div class="col-md-3 block">
                <div class="title">Pengalaman Kerja</div>
                <div class="content">1 - 3 tahun</div>
              </div>
              <div class="col-md-3 block">
                <div class="title">Gaji</div>
                <div class="content">Rp.5jt - Rp.10jt</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="card-job p-0 overflow-hidden">
          <div class="card-job-content">
            <div class="card-job-content-title">
              <h2>Tentang</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id posuere ex, in hendrerit purus. Pellentesque tristique tortor et est tincidunt ultrices. Sed iaculis eros arcu, ut venenatis nibh bibendum nec. Quisque eget efficitur neque, eget iaculis massa. Ut in ligula leo. Ut sagittis eget nunc eu porta. Nulla id lorem rutrum purus mollis venenatis a vel nunc. Phasellus elementum mauris ac pharetra ullamcorper.

                Nam malesuada, quam id faucibus finibus, diam nisi ornare erat, eu porttitor sem diam et ligula. Nam metus erat, ullamcorper et tempor eget, vehicula a leo. Donec aliquet ligula dignissim dolor faucibus, at suscipit tortor pharetra. Nam fermentum enim sed est lacinia, et auctor nisi sagittis. Phasellus interdum accumsan nunc, in ultrices arcu mattis eget. Vivamus eget euismod odio, at tincidunt libero. Donec viverra, erat a placerat dignissim, erat erat porta leo, at commodo quam neque at lectus. Aenean venenatis, nulla at imperdiet hendrerit, mauris justo varius leo, eget auctor augue lorem ut turpis. Cras vulputate ligula nec dui lobortis tincidunt. Ut sit amet velit sed magna malesuada vehicula. Cras in porta felis. Proin luctus dapibus velit quis fermentum. Sed sit amet lacinia lorem, sit amet fringilla ex. Nullam a orci condimentum, pharetra augue sed, auctor nisi.</p>
            </div>
            <div class="card-job-content-title">
              <h2>Keahlian</h2>
              <div class="custom-badge-container gray">
                <div class="custom-badge">ASP.NET</div>
                <div class="custom-badge">Java</div>
                <div class="custom-badge">C#</div>
                <div class="custom-badge">PHP</div>
                <div class="custom-badge">Codeigniter</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>

</html>