<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout/main}">
<head>
  <meta charset="UTF-8">
  <title>Adagawe - Cari Pekerjaan Impianmu</title>
</head>
<body>
<div layout:fragment="content">
  <section id="hero">
    <h1>Get The <span class="text-primary">Right Job</span> <br>You Deserve</h1>
    <p>1.805.873 loker telah terdaftar disini! Pekerjaan impianmu datang</p>

    <form action="#">
      <div class="search-container">
        <input type="text" class="hero-textbox" placeholder="Cari kerja ...">
        <button class="btn btn-primary btn-rounded">Cari</button>
      </div>
    </form>
  </section>

  <section class="bg-gray" id="jobCategory">
    <h2 class="section-title">One Platform<br>Many <span class="text-primary">Solutions</span></h2>

    <div class="section-content">
      <div class="row row-flex">
        <div class="col-md-3">
          <a href="#" class="card-link">
            <div class="card-a media">
              <div class="icon mr-4">
                <i class="fas fa-bullhorn"></i>
              </div>
              <div class="media-body">
                <h3 class="card-a-title">Marketing & Communication</h3>
                <p class="card-a-subtitle">59 loker tersedia</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="card-link">
            <div class="card-a media">
              <div class="icon mr-4">
                <i class="fas fa-drafting-compass"></i>
              </div>
              <div class="media-body">
                <h3 class="card-a-title">Design & Development</h3>
                <p class="card-a-subtitle">59 loker tersedia</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="#" class="card-link">
            <div class="card-a media">
              <div class="icon mr-4">
                <i class="fas fa-users"></i>
              </div>
              <div class="media-body">
                <h3 class="card-a-title">Human Research & Development</h3>
                <p class="card-a-subtitle">59 loker tersedia</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="#" class="card-link">
            <div class="card-a media">
              <div class="icon mr-4">
                <i class="fas fa-hand-holding-usd"></i>
              </div>
              <div class="media-body">
                <h3 class="card-a-title">Finance Management</h3>
                <p class="card-a-subtitle">59 loker tersedia</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="#" class="card-link">
            <div class="card-a media">
              <div class="icon mr-3">
                <i class="fas fa-user-shield"></i>
              </div>
              <div class="media-body">
                <h3 class="card-a-title">Armforce & Guard Security</h3>
                <p class="card-a-subtitle">59 loker tersedia</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="#" class="card-link">
            <div class="card-a media">
              <div class="icon mr-3">
                <i class="fas fa-handshake"></i>
              </div>
              <div class="media-body">
                <h3 class="card-a-title">Business Consulting</h3>
                <p class="card-a-subtitle">59 loker tersedia</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="#" class="card-link">
            <div class="card-a media">
              <div class="icon mr-3">
                <i class="fas fa-user-check"></i>
              </div>
              <div class="media-body">
                <h3 class="card-a-title">Customer Support Care</h3>
                <p class="card-a-subtitle">59 loker tersedia</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="#" class="card-link">
            <div class="card-a media">
              <div class="icon mr-3">
                <i class="fas fa-project-diagram"></i>
              </div>
              <div class="media-body">
                <h3 class="card-a-title">Project Management</h3>
                <p class="card-a-subtitle">59 loker tersedia</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="featured">
    <h2 class="section-title"><span class="text-primary">Featured</span> Job</h2>

    <div class="section-content">
      <div class="row row-flex">
        <!-- Card -->
        <div class="col-md-4" th:each="loker, iter : ${lokers}">
          <div class="card-job">
            <div class="media mb-3">
<!--              <img-->
<!--                      th:src="@{'/uploads/foto_perusahaan/' + ${loker.perusahaan.fotoProfil}}"-->
<!--                      class="img-company mr-3" th:alt="${loker.perusahaan.namaPerusahaan}">-->
              <div class="media-body">
                <a th:href="@{/lowongan/{id}(id=${loker.id})}" class="card-job-title" th:text="${loker.judulLowongan}"></a>
                <a href="#" class="card-job-subtitle" th:text="${loker.perusahaan.namaPerusahaan}"></a>
              </div>
            </div>

            <p class="card-job-detail"><i class="fa fa-map-marker"></i> <span th:text="${loker.perusahaan.kota + ', ' + loker.perusahaan.provinsi}"></span></p>
            <p class="card-job-detail"><i class="fa fa-dollar-sign"></i>
              <span th:text="${'Rp' + #numbers.formatDecimal(loker.gajiMinimal, 0, 'POINT', 2, 'COMMA')
                + ' - Rp' + #numbers.formatDecimal(loker.gajiMaksimal, 0, 'POINT', 2, 'COMMA')}"></span>
            </p>

          </div>
        </div>

      </div>

      <div class="d-flex justify-content-center mt-4">
        <a href="/lowongan" class="btn btn-outline-primary btn-rounded btn-lg">Lihat Semua Loker</a>
      </div>
    </div>
  </section>
</div>
</body>
</html>