<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout/main}">
<head>
  <meta charset="UTF-8">
  <title th:text="${loker.judulLowongan + ' - ' + loker.perusahaan.userLogin.fotoProfil}"></title>
</head>

<body>
<div layout:fragment="content">
  <section class="mt-5">
    <div class="row row-flex justify-content-center">
      <div class="col-md-7">
        <div class="card-job px-4 pt-2 overflow-hidden">
          <div class="d-flex align-items-center justify-content-between">
            <div class="media my-4">
              <img
                      th:src="${'/uploads/foto_perusahaan/' + loker.perusahaan.userLogin.fotoProfil}"
                      class="img-company img-company-profile mr-3" th:alt="${loker.perusahaan.userLogin.nama}">
              <div class="media-body">
                <a href="#" class="job-title" th:text="${loker.judulLowongan}"></a>
                <a href="#" class="job-subtitle" th:text="${loker.perusahaan.userLogin.nama}"></a>
                <div class="custom-badge-container success sm">
                  <div class="custom-badge"><i class="far fa-check-circle"></i> Aktif</div>
                </div>

              </div>
            </div>

            <div class="card-job-content-button">
              <a href="#" class="btn btn-outline-primary d-block mb-2"><i class="fa fa-share"></i> Bagikan</a>
              <a th:href="@{/lamaran/{id}(id=${loker.id})}" class="btn btn-primary d-block"><i class="fa fa-sticky-note"></i> Lamar</a>
            </div>
          </div>

          <div class="card-job-content-detail m-1">
            <div class="row">
              <div class="col-md-3 block">
                <div class="title">Penempatan</div>
                <div class="content" th:text="${loker.perusahaan.kota}"></div>
              </div>
              <div class="col-md-3 block">
                <div class="title">Tipe Karyawan</div>
                <div class="content" th:text="${loker.jenisPegawai.namajenisPegawai}"></div>
              </div>
              <div class="col-md-3 block">
                <div class="title">Pengalaman Kerja</div>
                <div class="content" th:text="${loker.pengalamanKerja}"></div>
              </div>
              <div class="col-md-3 block">
                <div class="title">Gaji</div>
                <div class="content" th:text="${'Rp' + #numbers.formatDecimal(loker.gajiMinimal, 0, 'POINT', 0, 'COMMA')
                + ' - Rp' + #numbers.formatDecimal(loker.gajiMaksimal, 0, 'POINT', 0, 'COMMA')}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="card-job p-0 overflow-hidden">
          <div class="card-job-content">
            <div class="card-job-content-title">
              <h2>Tentang</h2>
              <p th:text="${loker.keterangan}"></p>
            </div>
            <div class="card-job-content-title">
              <h2>Keahlian</h2>
              <div class="custom-badge-container gray">
                <div class="custom-badge" th:each="keahlian, iter : ${loker.keahlian.split(',')}"
                     th:text="${keahlian.trim()}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>

</html>