<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      lang="en"
      layout:decorate="~{layout/admin}">
<head>
  <meta charset="UTF-8">
  <title>Laporan Kota</title>
</head>

<body>

<div layout:fragment="header">
  <h4 class="page-title">Akun</h4>
  <ul class="breadcrumbs">
    <li class="nav-home">
      <a href="#">
        <i class="flaticon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="flaticon-right-arrow"></i>
    </li>
    <li class="nav-item">
      <a href="#">Laporan Kota</a>
    </li>
  </ul>
</div>

<div layout:fragment="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Laporan Kota</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="w-100 display table table-striped table-hover" id="datatables">
            <thead>
            <tr>
              <td>#</td>
              <td>Kota</td>
              <td id="jumlahLowonganCell">Jumlah Lowongan</td>
              <td id="jumlahLamaranCell">Jumlah Lamaran</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="daerah, iter : ${daerahs}">
              <td th:text="${iter.index + 1}"></td>
              <td th:text="${daerah.kota}"></td>
              <td th:text="${daerah.jumlahLowongan}"></td>
              <td th:text="${daerah.jumlahLamaran}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>Total</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th></th>
              <th>Kota</th>
              <th>Jumlah Lowongan</th>
              <th>Jumlah Lamaran</th>
            </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<th:block layout:fragment="scripts">
  <script src="//cdn.datatables.net/plug-ins/1.10.22/api/sum().js"></script>
  <script>
    $(document).ready(function() {
      $('#datatables').DataTable({
        dom: '<"row"<"col-lg-6"l><"col-lg-6"f>>rtip',
        lengthMenu: [
          [10, 25, 50, -1],
          ['10', '25', '50', 'All']
        ],
        "language": {
          "lengthMenu": "_MENU_ Data per halaman",
          "info": "Menampilkan _START_ sampai _END_ dari _TOTAL_ entries",
          "zeroRecords": "Tidak ada data.",
          "search": "Pencarian :",
          "infoFiltered": "(tersaring dari total _MAX_ data)",
          "paginate": {
            "previous": "Sebelumnya",
            "next": "Selanjutnya"
          }
        },
        drawCallback: function () {
          const api = this.api();

          // view page column
          const jumlahLowonganCell = api.column('#jumlahLowonganCell').index();
          const jumlahLamaranCell = api.column('#jumlahLamaranCell').index();

          let columnData = api.column(jumlahLowonganCell, {page: 'current'}).data();
          let theColumnPage = sumNumber(columnData);

          $(`tr:eq(0) th:eq(${jumlahLowonganCell})`, api.table().footer()).html(theColumnPage + " Lowongan");

          columnData = api.column(jumlahLamaranCell, { page: 'current' }).data();
          theColumnPage = sumNumber(columnData);

          $(`tr:eq(0) th:eq(${jumlahLamaranCell})`, api.table().footer()).html(theColumnPage + " Lamaran");
        },
        initComplete: function () {
          let columnCount = 0;
          const api = this.api();
          const jumlahLowonganCell = api.column('#jumlahLowonganCell').index();
          const jumlahLamaranCell = api.column('#jumlahLamaranCell').index();
          api.columns().every(function () {
            if (columnCount !== 0 && columnCount !== jumlahLowonganCell
                    && columnCount !== jumlahLamaranCell) {
              const column = this;
              const select = $('<select class="form-control form-control-sm height-unset"><option value=""></option></select>')
                      .appendTo($(`tr:eq(1) th:eq(${columnCount})`, api.table().footer()).empty())
                      .on('change', function () {
                        const val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                        );

                        column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                      });

              column.data().unique().sort().each(function (d, j) {
                select.append('<option value="' + d + '">' + d + '</option>')
              });
            }
            columnCount++;
          });
        }
      });
    });
  </script>

</th:block>

</body>
</html>