<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      lang="en"
      layout:decorate="~{layout/pelamar}">
<head>
    <meta charset="UTF-8">
    <title>Info Perusahaan</title>
</head>

<body>

<div layout:fragment="header">
    <h4 class="page-title">Akun</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Informasi</a>
        </li>
    </ul>
</div>

<div layout:fragment="content">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            Ayo lengkapi profil kamu terlebih dahulu!
        </div>
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Informasi Pelamar</h4>
                </div>
            </div>
            <div class="card-body">
                <form th:action="@{/pelamar/information}" th:object="${pelamar}" id="pelamarForm" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="tanggalLahir">Tanggal Lahir</label>
                        <input type="date" th:field="*{tanggalLahir}" id="tanggalLahir" placeholder="Tanggal Lahir"
                               th:class="'form-control '+ ${#fields.hasErrors('tanggalLahir') ? 'is-invalid' : ''}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('tanggalLahir')}" th:errors="*{tanggalLahir}"></div>
                    </div>
                    <div class="form-check pb-3">
                        <label>Jenis Kelamin</label><br>
                        <label class="form-radio-label">
                            <input class="form-radio-input" type="radio" name="optionsRadios" value="L" th:field="*{jenisKelamin}">
                            <span class="form-radio-sign">Laki-Laki</span>
                        </label>
                        <label class="form-radio-label ml-3">
                            <input class="form-radio-input" type="radio" name="optionsRadios" value="P" th:field="*{jenisKelamin}">
                            <span class="form-radio-sign">Perempuan</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="alamat">Alamat Lengkap</label>
                        <textarea th:field="*{alamat}" id="alamat" placeholder="Alamat Lengkap"
                                  th:class="'form-control '+ ${#fields.hasErrors('alamat') ? 'is-invalid' : ''}"></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('alamat')}" th:errors="*{alamat}"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="kota">Kota</label>
                            <input th:field="*{kota}" id="kota" placeholder="Kota"
                                   th:class="'form-control '+ ${#fields.hasErrors('kota') ? 'is-invalid' : ''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('kota')}" th:errors="*{kota}"></div>
                        </div>
                        <div class="col-md-6">
                            <label for="noTelepon">Telepon</label>
                            <input th:field="*{noTelepon}" id="noTelepon" placeholder="Nomor Telepon"
                                   th:class="'form-control '+ ${#fields.hasErrors('noTelepon') ? 'is-invalid' : ''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('noTelepon')}" th:errors="*{noTelepon}"></div>
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label for="headline">Headline</label>-->
<!--                        <textarea th:field="*{headline}" id="headline" placeholder="Headline"-->
<!--                                  th:class="'form-control '+ ${#fields.hasErrors('headline') ? 'is-invalid' : ''}"></textarea>-->
<!--                        <div class="invalid-feedback" th:if="${#fields.hasErrors('headline')}" th:errors="*{headline}"></div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Dokumen CV</label>-->
<!--                        <div class="custom-file">-->
<!--                            <input type="file" class="custom-file-input" name="file" id="file" placeholder="CV">-->
<!--                            <label class="custom-file-label font-normal" for="file">Dokumen CV</label>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Lanjut</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="scripts">
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>