<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout/perusahaan}">
<head>
    <meta charset="UTF-8">
    <title>Detail Lowongan</title>
</head>

<body>

<div layout:fragment="header">
    <h4 class="page-title">Lowongan</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Lowongan</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Detail</a>
        </li>
    </ul>
</div>

<div layout:fragment="content">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Detail Lowongan</h4>
                </div>
            </div>
            <div class="card-body" th:object="${lowongan}">
                <div class="row form-group">
                    <div class="col-lg-4">
                        <label class="font-weight-bold">Judul Lowongan</label>
                        </br>
                        <span th:text="*{judulLowongan}"/>
                    </div>
                    <div class="col-lg-4">
                        <label class="font-weight-bold">Jenis Pegawai</label>
                        </br>
                        <span th:text="*{jenisPegawai.namajenisPegawai}"/>
                    </div>
                </div>
<!--                <div class="row form-group">-->
<!--                    <div class="col-md-8">-->
<!--                        <label class="font-weight-bold">Keterangan</label>-->
<!--                        </br>-->
<!--                        <span th:text="*{keterangan}"/>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="row form-group">
                    <div class="col-lg-4">
                        <label class="font-weight-bold">Pengalaman Kerja</label>
                        </br>
                        <span th:text="*{pengalamanKerja}"/>
                    </div>
                    <div class="col-lg-4">
                        <label class="font-weight-bold">Keahlian</label>
                        </br>
                        <span th:text="*{keahlian}"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-4">
                        <label class="font-weight-bold">Gaji Minimal</label>
                        </br>
                        <span th:text="*{'Rp' + #numbers.formatDecimal(gajiMinimal, 0, 'POINT', 0, 'COMMA')}"/>
                    </div>
                    <div class="col-lg-4">
                        <label class="font-weight-bold">Gaji Maksimal</label>
                        </br>
                        <span th:text="*{'Rp' + #numbers.formatDecimal(gajiMaksimal, 0, 'POINT', 0, 'COMMA')}"/>
                    </div>
                </div>
            </div>
            <div class="card-header border-top">
                <h4 class="card-title">Pelamar Lowongan</h4>
            </div>
            <div class="card-body">
                <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                    <li class="nav-item submenu">
                        <a class="nav-link active show" id="pills-kualifikasi-tab" data-toggle="pill" href="#pills-kualifikasi" role="tab" aria-controls="pills-kualifikasi" aria-selected="true">Kualifikasi</a>
                    </li>
                    <li class="nav-item submenu">
                        <a class="nav-link" id="pills-ujikompetensi-tab" data-toggle="pill" href="#pills-ujikompetensi" role="tab" aria-controls="pills-ujikompetensi" aria-selected="false">Uji Kompetensi</a>
                    </li>
                    <li class="nav-item submenu">
                        <a class="nav-link" id="pills-wawancara-tab" data-toggle="pill" href="#pills-wawancara" role="tab" aria-controls="pills-wawancara" aria-selected="false">Wawancara</a>
                    </li>
                    <li class="nav-item submenu">
                        <a class="nav-link" id="pills-diterima-tab" data-toggle="pill" href="#pills-diterima" role="tab" aria-controls="pills-diterima" aria-selected="false">Diterima</a>
                    </li>
                </ul>
                <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-kualifikasi" role="tabpanel" aria-labelledby="pills-kualifikasi-tab">
                        <div class="d-flex justify-content-end mb-2">
                            <form th:action="${'/perusahaan/lamaran/' + lowongan.getId() + '/clean'}" method="post">
                                <button class="btn btn-danger" type="submit" onclick="return confirm('Apakah anda yakin ingin melakukan seleksi pendidikan?')">
                                    <i class="fa fa-trash"></i> Seleksi Pendidikan</button>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="w-100 display table table-striped table-hover datatables">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Nama Pelamar</td>
                                    <td>Jenis Kelamin</td>
                                    <td>Umur</td>
                                    <td>Domisili</td>
                                    <td>Pendidikan Terakhir</td>
                                    <td>Status</td>
                                    <td>Aksi</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="lamaran, iter : ${lamarans1}">
                                    <td th:text="${iter.index + 1}"></td>
                                    <td th:text="${lamaran.namaPelamar}"></td>
                                    <td th:text="${lamaran.jenisKelamin}"></td>
                                    <td th:text="${lamaran.umur}"></td>
                                    <td th:text="${lamaran.kota}"></td>
                                    <td th:text="${lamaran.pendidikanTerakhir}"></td>
                                    <td th:switch="${lamaran.statusLamaran}">
                                        <span th:case="0">Menunggu Kualifikasi</span>
                                        <span th:case="1">Kualifikasi Ditolak</span>
                                        <span th:case="2">Kualifikasi Diterima</span>
                                        <span th:case="3">Uji Kompetensi Ditolak</span>
                                        <span th:case="4">Uji Kompetensi Diterima</span>
                                        <span th:case="5">Wawancara Ditolak</span>
                                        <span th:case="6">Wawancara Diterima</span>
                                    </td>
                                    <td>
                                        <a th:href="@{/perusahaan/lamaran/view/{id}(id=${lamaran.idLamaran})}" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> View</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-ujikompetensi" role="tabpanel" aria-labelledby="pills-ujikompetensi-tab">
                        <div class="table-responsive">
                            <table class="w-100 display table table-striped table-hover datatables">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Nama Pelamar</td>
                                    <td>Jenkel</td>
                                    <td>Umur</td>
                                    <td>Domisili</td>
                                    <td>Pend. Terakhir</td>
                                    <td>Nilai Uji Kompetensi</td>
                                    <td>Status</td>
                                    <td>Aksi</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="lamaran, iter : ${lamarans2}">
                                    <td th:text="${iter.index + 1}"></td>
                                    <td th:text="${lamaran.namaPelamar}"></td>
                                    <td th:text="${lamaran.jenisKelamin}"></td>
                                    <td th:text="${lamaran.umur}"></td>
                                    <td th:text="${lamaran.kota}"></td>
                                    <td th:text="${lamaran.pendidikanTerakhir == null ? '-' : lamaran.pendidikanTerakhir}"></td>
                                    <td th:text="${lamaran.nilaiUjiKompetensi} != null ? ${lamaran.nilaiUjiKompetensi} : '-'"></td>
                                    <td th:switch="${lamaran.statusLamaran}">
                                        <span th:case="0">Menunggu Kualifikasi</span>
                                        <span th:case="1">Kualifikasi Ditolak</span>
                                        <span th:case="2">Kualifikasi Diterima</span>
                                        <span th:case="3">Uji Kompetensi Ditolak</span>
                                        <span th:case="4">Uji Kompetensi Diterima</span>
                                        <span th:case="5">Wawancara Ditolak</span>
                                        <span th:case="6">Wawancara Diterima</span>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <a th:href="@{/perusahaan/lamaran/view/{id}(id=${lamaran.idLamaran})}" class="btn btn-sm btn-primary mr-1"><i class="fa fa-eye"></i> View</a>

                                            <button type="button" th:if="${lamaran.statusLamaran != 3}" class="btn btn-success btn-sm mr-1 terimaButton"
                                                    th:data-idlamaran="${lamaran.idLamaran}" data-status="4" data-tahap="Wawancara" data-toggle="modal" data-target="#accModal">
                                                <i class="fa fa-check"></i> Terima
                                            </button>

                                            <form th:action="@{/perusahaan/lamaran/tolak/{id}(id=${lamaran.idLamaran})}"
                                                  th:if="${lamaran.statusLamaran != 3}" method="post" class="d-inline mr-1">
                                                <input type="hidden" th:value="3" name="status">
                                                <input type="hidden" value="Uji Kompetensi" name="tahap">
                                                <button class="btn btn-sm btn-danger" type="submit" name="result" value="Tolak"
                                                        onclick="return confirm('Apakah anda yakin ingin menolak lamaran ini?')">
                                                    <i class="fa fa-times"></i> Tolak</button>
                                            </form>

                                            <button type="button" th:if="${lamaran.statusLamaran == 2}" class="btn btn-info btn-sm ujiKompetensiButton"
                                                    th:data-idlamaran="${lamaran.idLamaran}" data-toggle="modal" data-target="#nilaiModal">
                                                <i class="fa fa-plus"></i> Nilai
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-wawancara" role="tabpanel" aria-labelledby="pills-wawancara-tab">
                        <div class="table-responsive">
                            <table class="w-100 display table table-striped table-hover datatables">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Nama Pelamar</td>
                                    <td>Jenkel</td>
                                    <td>Umur</td>
                                    <td>Domisili</td>
                                    <td>Pend. Terakhir</td>
                                    <td>Nilai Wawancara</td>
                                    <td>Status</td>
                                    <td>Aksi</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="lamaran, iter : ${lamarans3}">
                                    <td th:text="${iter.index + 1}"></td>
                                    <td th:text="${lamaran.namaPelamar}"></td>
                                    <td th:text="${lamaran.jenisKelamin}"></td>
                                    <td th:text="${lamaran.umur}"></td>
                                    <td th:text="${lamaran.kota}"></td>
                                    <td th:text="${lamaran.pendidikanTerakhir == null ? '-' : lamaran.pendidikanTerakhir}"></td>
                                    <td th:text="${lamaran.nilaiWawancara} != null ? ${lamaran.nilaiWawancara} : '-'"></td>
                                    <td th:switch="${lamaran.statusLamaran}">
                                        <span th:case="0">Menunggu Kualifikasi</span>
                                        <span th:case="1">Kualifikasi Ditolak</span>
                                        <span th:case="2">Kualifikasi Diterima</span>
                                        <span th:case="3">Uji Kompetensi Ditolak</span>
                                        <span th:case="4">Uji Kompetensi Diterima</span>
                                        <span th:case="5">Wawancara Ditolak</span>
                                        <span th:case="6">Wawancara Diterima</span>
                                    </td>
                                    <td>
                                        <a th:href="@{/perusahaan/lamaran/view/{id}(id=${lamaran.idLamaran})}" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> View</a>

                                        <form th:action="@{/perusahaan/lamaran/terima/{id}(id=${lamaran.idLamaran})}"
                                              th:if="${lamaran.nilaiWawancara} != null and ${lamaran.statusLamaran != 5}"
                                              method="post" class="d-inline">
                                            <input type="hidden" th:value="6" name="status">
                                            <input type="hidden" value="Akhir" name="tahap">
                                            <button type="submit" class="btn btn-success btn-sm mr-1 terimaButton"
                                                onclick="return confirm('Apakah anda yakin ingin menerima lamaran ini?')">
                                                <i class="fa fa-check"></i> Terima
                                            </button>
                                        </form>

                                        <form th:action="@{/perusahaan/lamaran/tolak/{id}(id=${lamaran.idLamaran})}"
                                              th:if="${lamaran.statusLamaran != 5}" method="post" class="d-inline mr-1">
                                            <input type="hidden" th:value="5" name="status">
                                            <input type="hidden" value="Wawancara" name="tahap">
                                            <button class="btn btn-sm btn-danger" type="submit" name="result" value="Tolak"
                                                    onclick="return confirm('Apakah anda yakin ingin menolak lamaran ini?')">
                                                <i class="fa fa-times"></i> Tolak</button>
                                        </form>

                                        <button type="button" th:if="${lamaran.statusLamaran == 4}" class="btn btn-info btn-sm wawancaraButton"
                                                th:data-idlamaran="${lamaran.idLamaran}" data-toggle="modal" data-target="#nilaiModal">
                                            <i class="fa fa-plus"></i> Nilai
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-diterima" role="tabpanel" aria-labelledby="pills-diterima-tab">
                        <div class="table-responsive">
                            <table class="w-100 display table table-striped table-hover datatables">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Nama Pelamar</td>
                                    <td>Jenis Kelamin</td>
                                    <td>Umur</td>
                                    <td>Kota Domisili</td>
                                    <td>Pendidikan Terakhir</td>
                                    <td>Status</td>
                                    <td>Aksi</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="lamaran, iter : ${lamarans4}">
                                    <td th:text="${iter.index + 1}"></td>
                                    <td th:text="${lamaran.namaPelamar}"></td>
                                    <td th:text="${lamaran.jenisKelamin}"></td>
                                    <td th:text="${lamaran.umur}"></td>
                                    <td th:text="${lamaran.kota}"></td>
                                    <td th:text="${lamaran.pendidikanTerakhir}"></td>
                                    <td th:switch="${lamaran.statusLamaran}">
                                        <span th:case="0">Menunggu Kualifikasi</span>
                                        <span th:case="1">Kualifikasi Ditolak</span>
                                        <span th:case="2">Kualifikasi Diterima</span>
                                        <span th:case="3">Uji Kompetensi Ditolak</span>
                                        <span th:case="4">Uji Kompetensi Diterima</span>
                                        <span th:case="5">Wawancara Ditolak</span>
                                        <span th:case="6">Wawancara Diterima</span>
                                    </td>
                                    <td>
                                        <a th:href="@{/perusahaan/lamaran/view/{id}(id=${lamaran.idLamaran})}" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> View</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="nilaiModal" tabindex="-1" aria-labelledby="nilaiModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" class="d-inline" id="formNilai">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="nilaiModalLabel">Tambah Nilai</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="txtNilai">Nilai</label>
                                        <input type="number" class="form-control" id="txtNilai" name="nilai">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="accModal" tabindex="-1" aria-labelledby="accModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" class="d-inline" id="formAcc">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="accModalLabel">Terima</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="txtTahap">Tahap</label>
                                        <input type="hidden" name="status" id="txtStatus">
                                        <input type="text" name="tahap" id="txtTahap" readonly class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtWaktu">Waktu</label>
                                        <input type="datetime-local" class="form-control" id="txtWaktu" name="tanggal_tahap">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

<!--                End of modal-->
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script>
        $('.ujiKompetensiButton').click(function () {
            const idLamaran = $(this).data('idlamaran');
            $('#formNilai').attr('action', '/perusahaan/lamaran/nilaiujikompetensi/' + idLamaran);
        });

        $('.wawancaraButton').click(function () {
            const idLamaran = $(this).data('idlamaran');
            $('#formNilai').attr('action', '/perusahaan/lamaran/nilaiwawancara/' + idLamaran);
        });

        $('.terimaButton').click(function () {
            const idLamaran = $(this).data('idlamaran');
            const tahap = $(this).data('tahap');
            const status = $(this).data('status');

            $('#formAcc').attr('action', '/perusahaan/lamaran/terima/' + idLamaran);
            $('#txtStatus').val(status);
            $('#txtTahap').val(tahap);
        });
    </script>
</th:block>

</body>

</html>