<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout/perusahaan}">
<head>
    <meta charset="UTF-8">
    <title>Lowongan Perusahaan</title>
</head>

<body>
<div layout:fragment="header">
    <h4 class="page-title">Lowongan</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Lowongan</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Ubah</a>
        </li>
    </ul>
</div>
<div layout:fragment="content">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Ubah Lowongan</h4>
                </div>
            </div>
            <div class="card-body">
                <form th:action="@{/perusahaan/lowongan/create}" th:object="${lowongan}" id="lowonganForm" method="post">
                    <div class="row form-group">
                        <div class="col-md-8">
                            <label for="judulLowongan">Judul Lowongan</label>
                            <input type="text" th:field="*{judulLowongan}" id="judulLowongan" placeholder="Judul Lowongan"
                                   th:class="'form-control '+ ${#fields.hasErrors('judulLowongan') ? 'is-invalid' : ''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('judulLowongan')}" th:errors="*{judulLowongan}"></div>
                        </div>
                        <div class="col-md-4">
                            <label for="idJenisPegawai">Jenis Pegawai</label>
                            <select id="idJenisPegawai" th:field="*{jenisPegawai.id}" th:class="'form-control '+ ${#fields.hasErrors('jenisPegawai') ? 'is-invalid' : ''}">
                                <option value="">Pilih Jenis Pegawai</option>
                                <option th:each="jenisPegawai : ${jenisPegawais}" th:value="${jenisPegawai.id}" th:text="${jenisPegawai.namajenisPegawai}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keterangan">Keterangan</label>
                        <textarea th:field="*{keterangan}" id="keterangan" placeholder="Keterangan"
                                  th:class="'form-control '+ ${#fields.hasErrors('keterangan') ? 'is-invalid' : ''}"></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('keterangan')}" th:errors="*{keterangan}"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="pengalamanKerja">Pengalaman Kerja</label>
                            <input type="text" th:field="*{pengalamanKerja}" id="pengalamanKerja" placeholder="Pengalaman Kerja"
                                   th:class="'form-control '+ ${#fields.hasErrors('pengalamanKerja') ? 'is-invalid' : ''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('pengalamanKerja')}" th:errors="*{pengalamanKerja}"></div>
                        </div>
                        <div class="col-md-8">
                            <label>Keahlian</label>
                            <input type="text" value="" th:field="*{keahlian}" data-role="tagsinput" placeholder="Keahlian" />
<!--                            <input type="text" th:field="*{keahlian}" id="keahlian" placeholder="Keahlian"-->
<!--                                   th:class="'form-control '+ ${#fields.hasErrors('keahlian') ? 'is-invalid' : ''}">-->
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('keahlian')}" th:errors="*{keahlian}"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="gajiMinimal">Gaji Minimal</label>
                            <input type="text" th:field="*{gajiMinimal}" id="gajiMinimal" placeholder="Gaji Minimal"
                                   th:class="'form-control '+ ${#fields.hasErrors('gajiMinimal') ? 'is-invalid' : ''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('gajiMinimal')}" th:errors="*{gajiMinimal}"></div>
                        </div>
                        <div class="col-md-6">
                            <label for="gajiMaksimal">Gaji Maksimal</label>
                            <input type="text" th:field="*{gajiMaksimal}" id="gajiMaksimal" placeholder="Gaji Maksimal"
                                   th:class="'form-control '+ ${#fields.hasErrors('gajiMaksimal') ? 'is-invalid' : ''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('gajiMaksimal')}" th:errors="*{gajiMaksimal}"></div>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="sembunyikanGaji" value="1">
                                <span class="form-check-sign">Sembunyikan Gaji</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>