<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      lang="en"
      layout:decorate="~{layout/pelamar}">
<head>
  <meta charset="UTF-8">
  <title>Laporan Lamaran</title>
</head>

<body>

<div layout:fragment="header">
  <h4 class="page-title">Akun</h4>
  <ul class="breadcrumbs">
    <li class="nav-home">
      <a href="#">
        <i class="flaticon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="flaticon-right-arrow"></i>
    </li>
    <li class="nav-item">
      <a href="#">Laporan Lamaran</a>
    </li>
  </ul>
</div>

<div layout:fragment="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Laporan Lamaran</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="w-100 display table table-striped table-hover" id="datatables">
            <thead>
              <tr>
                <td>#</td>
                <td>Lowongan</td>
                <td>Perusahaan</td>
                <td>Kota Perusahaan</td>
                <td>Tanggal</td>
                <td>Status</td>
                <td>Nilai Uji Kompetensi</td>
                <td>Nilai Wawancara</td>
              </tr>
            </thead>
            <tbody>
              <tr th:each="pelamarLamaran, iter : ${pelamarLamarans}">
                <td th:text="${iter.index + 1}"></td>
                <td th:text="${pelamarLamaran.lowongan.judulLowongan}"></td>
                <td th:text="${pelamarLamaran.lowongan.perusahaan.userLogin.nama}"></td>
                <td th:text="${pelamarLamaran.lowongan.perusahaan.kota}"></td>
                <td th:text="${#dates.format(pelamarLamaran.lamaran.tanggalMelamar, 'dd MMM yyyy')}"></td>
                <td th:switch="${pelamarLamaran.statusLamaran}">
                  <th:block th:case="0">Menunggu Kualifikasi</th:block>
                  <th:block th:case="1">Kualifikasi Ditolak</th:block>
                  <th:block th:case="2">Kualifikasi Diterima</th:block>
                  <th:block th:case="3">Uji Kompetensi Ditolak</th:block>
                  <th:block th:case="4">Uji Kompetensi Diterima</th:block>
                  <th:block th:case="5">Wawancara Ditolak</th:block>
                  <th:block th:case="6">Wawancara Diterima</th:block>
                </td>
                <td th:text="${pelamarLamaran.lamaran.nilaiUjiKompetensi != null ? pelamarLamaran.lamaran.nilaiUjiKompetensi : '-'}"></td>
                <td th:text="${pelamarLamaran.lamaran.nilaiWawancara != null ? pelamarLamaran.lamaran.nilaiWawancara : '-'}"></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Rata-rata</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <th></th>
                <th>Lowongan</th>
                <th>Perusahaan</th>
                <th>Kota Perusahaan</th>
                <th>Tanggal</th>
                <th>Status</th>
                <th>Nilai Uji Kompetensi</th>
                <th>Nilai Wawancara</th>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<th:block layout:fragment="scripts">
  <script src="//cdn.datatables.net/plug-ins/1.10.22/api/sum().js"></script>
  <script>
    $(document).ready(function() {
      $('#datatables').DataTable({
        dom: '<"row"<"col-lg-4"l><"col-lg-4"B><"col-lg-4"f>>rtip',
        buttons: [
          {
            extend: 'copy',
            text: '<i class="fa fa-copy"></i> Copy',
            exportOptions: {
              columns: ':visible',
            }
          }, {
            extend: 'excel',
            text: '<i class="fa fa-file-excel"></i> Excel',
            title: 'Data Destinasi',
            footer: true,
            filename: 'Data Destinasi ' + moment().format('DD-MM-YYYY'),
            exportOptions: {
              columns: ':visible',
            }
          }, {
            extend: 'pdf',
            text: '<i class="fa fa-file-pdf"></i> PDF',
            title: 'Data Destinasi',
            footer: true,
            filename: 'Data Destinasi ' + moment().format('DD-MM-YYYY'),
            exportOptions: {
              columns: ':visible',
            }
          }, {
            extend: 'print',
            text: '<i class="fa fa-print"></i> Print',
            title: 'Data Destinasi',
            footer: true,
            filename: 'Data Destinasi ' + moment().format('DD-MM-YYYY'),
            exportOptions: {
              columns: ':visible',
            }
          }, {
            extend: 'colvis',
            text: '<i class="fa fa-eye"></i>'
          }
        ],
        lengthMenu: [
          [10, 25, 50, -1],
          ['10', '25', '50', 'All']
        ],
        "language": {
          "lengthMenu": "_MENU_ Data per halaman",
          "info": "Menampilkan _START_ sampai _END_ dari _TOTAL_ entries",
          "zeroRecords": "Tidak ada data.",
          "search": "Pencarian :",
          "infoFiltered": "(tersaring dari total _MAX_ data)",
          "paginate": {
            "previous": "Sebelumnya",
            "next": "Selanjutnya"
          }
        },
        drawCallback: function () {
          const api = this.api();

          // view page column
          let columnData = api.column(6, {page: 'current'}).data();
          const ujiKompetensiCount = columnData.filter(x => !isNaN(x)).length;
          let theColumnPage = sumNumber(columnData);

          $(`tr:eq(0) th:eq(6)`, api.table().footer()).html(
                  parseFloat(theColumnPage / ujiKompetensiCount).toFixed(2)
          );

          columnData = api.column(7, { page: 'current' }).data();
          const wawancaraCount = columnData.filter(x => !isNaN(x)).length;
          theColumnPage = sumNumber(columnData);

          $(`tr:eq(0) th:eq(7)`, api.table().footer()).html(
                  theColumnPage / wawancaraCount
          );
        },
        initComplete: function () {
          let columnCount = 0;
          const api = this.api();
          api.columns().every(function () {
            if (columnCount !== 0 && columnCount !== 6 && columnCount !== 7) {
              const column = this;
              const select = $('<select class="form-control form-control-sm height-unset"><option value=""></option></select>')
                      .appendTo($(`tr:eq(1) th:eq(${columnCount})`, api.table().footer()).empty())
                      .on('change', function () {
                        const val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                        );

                        column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                      });

              column.data().unique().sort().each(function (d, j) {
                select.append('<option value="' + d + '">' + d + '</option>')
              });
            }
            columnCount++;
          });
        }
      });
    });
  </script>

</th:block>

</body>
</html>