<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout/pelamar}">
<head>
  <meta charset="UTF-8">
  <title>Tambah Pengalaman</title>
</head>

<body>
<div layout:fragment="content">
  <section class="mt-5">
    <div class="row row-flex justify-content-center">
      <div class="col-md-7">
        <div class="card-job p-0 overflow-hidden">
          <div class="card-job-content">
            <div class="card-job-content-title border-bottom mb-3">
              <h2>Tambah Sertifikat</h2>
            </div>
            <form th:action="@{/pengalaman/create}" th:object="${pengalaman}" id="pengalamanForm" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="idJabatan">Jabatan</label>
                <select id="idJabatan" th:field="*{jabatan.id}" th:class="'form-control '+ ${#fields.hasErrors('jabatan') ? 'is-invalid' : ''}">
                  <option value="">Pilih Jabatan</option>
                  <option th:each="jabatan : ${jabatans}" th:value="${jabatan.id}" th:text="${jabatan.namaJabatan}"></option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('jabatan')}" th:errors="*{jabatan}"></div>
              </div>
              <div class="form-group">
                <label for="idJenisPegawai">Jenis Pegawai</label>
                <select id="idJenisPegawai" th:field="*{jenisPegawai.id}" th:class="'form-control '+ ${#fields.hasErrors('jenisPegawai') ? 'is-invalid' : ''}">
                  <option value="">Pilih Jenis Pegawai</option>
                  <option th:each="jenisPegawai : ${jenisPegawais}" th:value="${jenisPegawai.id}" th:text="${jenisPegawai.namajenisPegawai}"></option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('jenisPegawai')}" th:errors="*{jenisPegawai}"></div>
              </div>
              <div class="form-group">
                <label for="namaPerusahaan">Nama Perusahaan</label>
                <input type="text" th:field="*{namaPerusahaan}" id="namaPerusahaan" placeholder="Nama Perusahaan"
                       th:class="'form-control '+ ${#fields.hasErrors('namaPerusahaan') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('namaPerusahaan')}" th:errors="*{namaPerusahaan}"></div>
              </div>
              <div class="form-group">
                <label for="mulaiKerja">Mulai Kerja</label>
                <input type="date" th:field="*{mulaiKerja}" id="mulaiKerja" placeholder="Mulai Kerja"
                       th:class="'form-control '+ ${#fields.hasErrors('mulaiKerja') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('mulaiKerja')}" th:errors="*{mulaiKerja}"></div>
              </div>
              <div class="form-group">
                <label for="terakhirKerja">Akhir Kerja</label>
                <input type="date" th:field="*{terakhirKerja}" id="terakhirKerja" placeholder="Akhir Kerja"
                       th:class="'form-control '+ ${#fields.hasErrors('terakhirKerja') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('terakhirKerja')}" th:errors="*{terakhirKerja}"></div>
              </div>
              <div class="form-group">
                <label for="deskripsi">Deskripsi</label>
                <textarea th:field="*{deskripsi}" id="deskripsi" placeholder="Deskripsi"
                          th:class="'form-control '+ ${#fields.hasErrors('deskripsi') ? 'is-invalid' : ''}"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('deskripsi')}" th:errors="*{deskripsi}"></div>
              </div>
              <div class="form-group">
                <label for="file">File Attachment</label>
                <input type="file" name="file" id="file" placeholder="File attachment" class="form-control">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('fileAttachment')}" th:errors="*{fileAttachment}"></div>
              </div>

              <button type="submit" class="btn btn-primary">Simpan</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>

</html>
