<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Profil Saya</title>
</head>
<body>
<div layout:fragment="content">
    <section class="mt-5">
        <div class="row row-flex justify-content-center">
            <div class="col-md-7">
                <div class="card-job p-0 overflow-hidden">
                    <div class="profile-image">
                        <img src="https://imgix.bustle.com/uploads/shutterstock/2020/3/25/72415f8c-3e06-40fc-b5a6-32fd76c7b567-shutterstock-1270572721.jpg?w=1200&h=630&fit=crop&crop=faces&fm=jpg"
                             alt="Sampul" class="img-cover">
                        <img src="https://d17ivq9b7rppb3.cloudfront.net/small/avatar/202010020620078081fa4d61fefaf9a21680b8f36a1a9d.png"
                             alt="Profile" class="img-profile">
                    </div>

                    <div class="card-job-content">
                        <div class="profile-detail">
                            <h2 class="profile-name">Samodra</h2>
                            <p class="card-job-detail">Student at Astra Manufacturing Polytechnic</p>
                            <p class="card-job-detail-city">Jakarta, Indonesia</p>
                            <a href="/pelamar/profile/edit" class="btn btn-primary">Ubah Profil</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card-job p-0 overflow-hidden">
                    <div class="card-job-content">
                        <div class="card-job-content-title">
                            <h2>Tentang</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a erat ipsum. Phasellus a
                                nibh massa. Donec sit amet lobortis urna. Quisque nec vehicula dui, sit amet interdum
                                massa. Etiam tempus est nibh, in eleifend dolor laoreet sit amet. Proin vitae risus
                                enim. Pellentesque non lacus in nisl condimentum tristique nec eu purus. Quisque
                                suscipit justo dolor, et condimentum ante pretium ac. Donec nec efficitur elit. Duis et
                                malesuada justo.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div th:if="${message}">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <span th:text="${message}"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card-job p-0 overflow-hidden">
                    <div class="card-job-content">
                        <div class="card-job-content-title d-flex justify-content-between">
                            <h2>Pengalaman</h2>
                            <div>
                                <a href="/pelamar/pengalaman/create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="card-job-content-list">
                            <div th:switch="${pengalamans}">
                                <h2 th:case="null">Tidak ada data!</h2>
                                <div th:case="*">
                                    <div class="media my-4" th:each="pengalaman, iter : ${pengalamans}">
                                        <img
                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png"
                                                class="img-company img-company-profile mr-3">
                                        <div class="media-body">
                                            <a href="#" class="experience-title" th:text="${pengalaman.jabatan.namaJabatan}"></a>
                                            <a href="#" class="experience-subtitle" th:text="${pengalaman.namaPerusahaan}"> &#183; Full Time</a>
                                            <p class="experience-date" th:text="${#dates.format(pengalaman.mulaiKerja, 'MMM yyyy')} + ' - ' + ${#dates.format(pengalaman.terakhirKerja, 'MMM yyyy')}" />
                                            <a th:href="@{/pelamar/pengalaman/edit/{id}(id=${pengalaman.id})}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                            <form th:action="@{/pelamar/pengalaman/delete/{id}(id=${pengalaman.id})}" method="post" class="d-inline">
                                                <button type="submit" onclick="return confirm('Apakah anda yakin ingin menghapus data ini?')" class="btn btn-sm btn-danger">
                                                    <i class="fa fa-trash"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-job-content-title d-flex justify-content-between">
                            <h2>Pendidikan</h2>
                            <div>
                                <a href="/pelamar/pendidikan/create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="card-job-content-list">
                            <div th:switch="${pendidikans}">
                                <h2 th:case="null">Tidak ada data!</h2>
                                <div th:case="*">
                                    <div class="media my-4" th:each="pendidikan, iter : ${pendidikans}">
                                        <img
                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png"
                                                class="img-company img-company-profile mr-3">
                                        <div class="media-body">
                                            <a href="#" class="experience-title" th:text="${pendidikan.namaUniversitas}"></a>
                                            <label class="experience-subtitle" th:utext="${pendidikan.namaJurusan} + ' &bull; ' + ${pendidikan.jenjang.deskripsi}"/>
                                            <p class="experience-date" th:text="${pendidikan.tahunMulai} + ' - ' + ${pendidikan.tahunSelesai}" />
                                            <a th:href="@{/pelamar/pendidikan/edit/{id}(id=${pendidikan.id})}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                            <form th:action="@{/pelamar/pendidikan/delete/{id}(id=${pendidikan.id})}" method="post" class="d-inline">
                                                <button type="submit" onclick="return confirm('Apakah anda yakin ingin menghapus data ini?')" class="btn btn-sm btn-danger">
                                                    <i class="fa fa-trash"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-job-content-title d-flex justify-content-between">
                            <h2>Sertifikat</h2>
                            <div>
                                <a href="/pelamar/sertifikat/create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="card-job-content-list">
                            <div th:switch="${sertifikats}">
                                <h2 th:case="null">Tidak ada data!</h2>
                                <div th:case="*">
                                    <div class="media my-4" th:each="sertifikat, iter : ${sertifikats}">
                                        <img
                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png"
                                                class="img-company img-company-profile mr-3">
                                        <div class="media-body">
                                            <a href="#" class="experience-title" th:text="${sertifikat.judul}"></a>
                                            <label class="experience-subtitle" th:text="${sertifikat.noSertifikat}"/>
                                            <p class="experience-date" th:text="${#dates.format(sertifikat.berlakuMulai, 'MMM yyyy')} + ' - ' + ${#dates.format(sertifikat.berlakuSampai, 'MMM yyyy')}" />
                                            <a th:href="@{/pelamar/sertifikat/edit/{id}(id=${sertifikat.id})}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                            <form th:action="@{/pelamar/sertifikat/delete/{id}(id=${sertifikat.id})}" method="post" class="d-inline">
                                                <button type="submit" onclick="return confirm('Apakah anda yakin ingin menghapus data ini?')" class="btn btn-sm btn-danger">
                                                    <i class="fa fa-trash"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>