USE [master]
GO
/****** Object:  Database [Adagawe]    Script Date: 23/07/2021 14:50:39 ******/
CREATE DATABASE [Adagawe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Adagawe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Adagawe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Adagawe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Adagawe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Adagawe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Adagawe]
GO
/****** Object:  Table [dbo].[Lamaran]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lamaran](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pelamar] [int] NULL,
	[id_lowongan] [int] NULL,
	[tanggal_melamar] [date] NULL,
	[pesan_pelamar] [varchar](255) NULL,
	[resume] [varchar](50) NULL,
	[status_lamaran] [int] NULL,
	[nilai_uji_kompetensi] [float] NULL,
	[nilai_wawancara] [float] NULL,
 CONSTRAINT [PK_Lamaran] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pendidikan]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pendidikan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pelamar] [int] NULL,
	[id_jenjang] [int] NULL,
	[nama_jurusan] [varchar](50) NULL,
	[nama_universitas] [varchar](100) NULL,
	[tahun_mulai] [varchar](10) NULL,
	[tahun_selesai] [varchar](10) NULL,
	[row_status] [int] NULL,
 CONSTRAINT [PK_Pendidikan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jenjang]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jenjang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama_jenjang] [varchar](10) NULL,
	[deskripsi] [varchar](50) NULL,
	[tingkatan_jenjang] [float] NULL,
 CONSTRAINT [PK_Jenjang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelamar]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelamar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tanggal_lahir] [date] NULL,
	[jenis_kelamin] [char](1) NULL,
	[kota] [varchar](50) NULL,
	[alamat] [varchar](255) NULL,
	[no_telepon] [varchar](13) NULL,
	[headline] [varchar](100) NULL,
	[dokumen_cv] [varchar](100) NULL,
	[id_user_login] [int] NULL,
	[row_status] [int] NULL,
 CONSTRAINT [PK_Pelamar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lowongan]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lowongan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_perusahaan] [int] NULL,
	[id_jenis_pegawai] [int] NULL,
	[judul_lowongan] [varchar](100) NULL,
	[keterangan] [varchar](255) NULL,
	[jenjang_minimal] [int] NULL,
	[gaji_minimal] [int] NULL,
	[gaji_maksimal] [int] NULL,
	[pengalaman_kerja] [varchar](50) NULL,
	[keahlian] [varchar](255) NULL,
	[sembunyikan_gaji] [int] NULL,
	[status] [int] NULL,
	[created_date] [date] NULL,
	[last_modified] [date] NULL,
 CONSTRAINT [PK_Lowongan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](100) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](255) NULL,
	[user_role] [int] NULL,
	[locked] [int] NULL,
	[enabled] [int] NULL,
	[row_status] [int] NULL,
	[foto_profil] [varchar](100) NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_LamaranPelamar]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_LamaranPelamar] AS
SELECT        l.id AS id_lamaran, l.status_lamaran, l.id_lowongan, lo.jenjang_minimal, l.id_pelamar, ul.nama as nama_pelamar, ul.foto_profil as foto_profil, p.tanggal_lahir, p.jenis_kelamin, p.kota, p.alamat, p.no_telepon, p.headline, p.dokumen_cv, p.id_user_login, 
                         p.row_status, pt.pendidikan_terakhir, pt.tingkatan_jenjang, CAST(DATEDIFF(DD, p.tanggal_lahir, GETDATE()) / 365.25 AS INT) AS umur, l.nilai_uji_kompetensi, l.nilai_wawancara
FROM            dbo.Lamaran AS l INNER JOIN
                         dbo.Pelamar AS p ON l.id_pelamar = p.id INNER JOIN UserLogin ul ON p.id_user_login = ul.id INNER JOIN
                         dbo.Lowongan AS lo ON lo.id = l.id_lowongan LEFT OUTER JOIN
                             (SELECT        p.id_pelamar,
                                                             (SELECT        nama_jenjang
                                                               FROM            dbo.Jenjang AS js
                                                               WHERE        (tingkatan_jenjang = MAX(j.tingkatan_jenjang))) AS pendidikan_terakhir,
                                                             (SELECT        tingkatan_jenjang
                                                               FROM            dbo.Jenjang AS js
                                                               WHERE        (tingkatan_jenjang = MAX(j.tingkatan_jenjang))) AS tingkatan_jenjang
                               FROM            dbo.Pendidikan AS p INNER JOIN
                                                         dbo.Jenjang AS j ON j.id = p.id_jenjang
                               GROUP BY p.id_pelamar) AS pt ON pt.id_pelamar = p.id
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tanggal_lahir] [date] NULL,
	[jenis_kelamin] [char](1) NULL,
	[no_telepon] [varchar](13) NULL,
	[row_status] [int] NULL,
	[id_user_login] [int] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfirmationToken]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfirmationToken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[confirmation_token] [varchar](255) NULL,
	[created_date] [datetime] NULL,
 CONSTRAINT [PK_ConfirmationToken] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jabatan]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jabatan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama_jabatan] [varchar](50) NULL,
	[deskripsi] [varchar](255) NULL,
	[row_status] [int] NULL,
 CONSTRAINT [PK_Jabatan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JenisPegawai]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JenisPegawai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jenis_pegawai] [varchar](100) NULL,
	[row_status] [int] NULL,
 CONSTRAINT [PK_JenisPegawai] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifikasi]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifikasi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_lamaran] [int] NULL,
	[isi] [text] NOT NULL,
	[tahap] [int] NOT NULL,
	[tanggal_tahapan] [datetime] NOT NULL,
	[hasil_tahap_sebelumnya] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
 CONSTRAINT [PK_Notifikasi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pengalaman]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pengalaman](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pelamar] [int] NOT NULL,
	[id_jabatan] [int] NOT NULL,
	[id_jenis_pegawai] [int] NOT NULL,
	[nama_perusahaan] [varchar](100) NOT NULL,
	[mulai_kerja] [date] NOT NULL,
	[terakhir_kerja] [date] NOT NULL,
	[deskripsi] [varchar](255) NULL,
	[file_attachment] [varchar](100) NULL,
	[row_status] [int] NULL,
 CONSTRAINT [PK_Pengalaman] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Percakapan]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Percakapan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pesan] [int] NULL,
	[isi_pesan] [text] NULL,
	[dilihat] [text] NULL,
	[create_time] [int] NULL,
	[role] [int] NULL,
 CONSTRAINT [PK_Percakapan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perusahaan]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perusahaan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama_perusahaan] [varchar](100) NULL,
	[alamat_lengkap] [varchar](255) NULL,
	[provinsi] [varchar](50) NULL,
	[kota] [varchar](50) NULL,
	[telah_terverifikasi] [int] NULL,
	[foto_profil] [varchar](100) NULL,
	[bidang_perusahaan] [varchar](100) NULL,
	[row_status] [int] NULL,
	[id_user_login] [int] NULL,
 CONSTRAINT [PK_Perusahaan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pesan]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pesan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[pengirim_satu] [int] NULL,
	[pengirim_dua] [int] NULL,
	[pesan_terakhir] [varchar](255) NULL,
 CONSTRAINT [PK_Pesan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sertifikat]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sertifikat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pelamar] [int] NULL,
	[judul] [varchar](50) NULL,
	[no_sertifikat] [varchar](50) NULL,
	[berlaku_mulai] [date] NULL,
	[berlaku_sampai] [date] NULL,
	[file_attachment] [varchar](100) NULL,
	[row_status] [int] NULL,
 CONSTRAINT [PK_Sertifikat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerifikasiPerusahaan]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerifikasiPerusahaan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_perusahaan] [int] NULL,
	[npwp] [varchar](100) NULL,
	[tdp] [varchar](100) NULL,
	[siu] [varchar](100) NULL,
	[hasil] [int] NULL,
	[created_date] [date] NULL,
	[last_modified] [date] NULL,
	[diverifikasi_oleh] [varchar](50) NULL,
	[komentar] [varchar](100) NULL,
 CONSTRAINT [PK_VerifikasiPerusahaan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id], [tanggal_lahir], [jenis_kelamin], [no_telepon], [row_status], [id_user_login]) VALUES (1, CAST(N'2001-06-18' AS Date), N'L', N'089664467845', 1, 1)
INSERT [dbo].[Admin] ([id], [tanggal_lahir], [jenis_kelamin], [no_telepon], [row_status], [id_user_login]) VALUES (2, CAST(N'2021-06-24' AS Date), N'L', N'081245233455', 1, 2)
INSERT [dbo].[Admin] ([id], [tanggal_lahir], [jenis_kelamin], [no_telepon], [row_status], [id_user_login]) VALUES (3, CAST(N'2002-09-24' AS Date), N'L', N'082982387283', 1, 3)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[ConfirmationToken] ON 

INSERT [dbo].[ConfirmationToken] ([id], [id_user], [confirmation_token], [created_date]) VALUES (1, 1, N'284c6358-3dd0-4f3b-b636-c34240be7b6f', CAST(N'2021-06-21T00:00:00.000' AS DateTime))
INSERT [dbo].[ConfirmationToken] ([id], [id_user], [confirmation_token], [created_date]) VALUES (2, 2, N'284c6358-3dd0-4f3b-b636-c34240be7b6f', CAST(N'2021-06-21T00:00:00.000' AS DateTime))
INSERT [dbo].[ConfirmationToken] ([id], [id_user], [confirmation_token], [created_date]) VALUES (3, 3, N'284c6358-3dd0-4f3b-b636-c34240be7b6f', CAST(N'2021-06-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ConfirmationToken] OFF
GO
SET IDENTITY_INSERT [dbo].[Jabatan] ON 

INSERT [dbo].[Jabatan] ([id], [nama_jabatan], [deskripsi], [row_status]) VALUES (1, N'Software Developer', NULL, 1)
INSERT [dbo].[Jabatan] ([id], [nama_jabatan], [deskripsi], [row_status]) VALUES (2, N'Database Administrator', NULL, 1)
INSERT [dbo].[Jabatan] ([id], [nama_jabatan], [deskripsi], [row_status]) VALUES (3, N'IT Support', NULL, 1)
SET IDENTITY_INSERT [dbo].[Jabatan] OFF
GO
SET IDENTITY_INSERT [dbo].[JenisPegawai] ON 

INSERT [dbo].[JenisPegawai] ([id], [jenis_pegawai], [row_status]) VALUES (1, N'Full-time', 1)
INSERT [dbo].[JenisPegawai] ([id], [jenis_pegawai], [row_status]) VALUES (2, N'Part-time', 1)
INSERT [dbo].[JenisPegawai] ([id], [jenis_pegawai], [row_status]) VALUES (3, N'Freelance', 1)
SET IDENTITY_INSERT [dbo].[JenisPegawai] OFF
GO
SET IDENTITY_INSERT [dbo].[Jenjang] ON 

INSERT [dbo].[Jenjang] ([id], [nama_jenjang], [deskripsi], [tingkatan_jenjang]) VALUES (1, N'SD', N'Sekolah Dasar', 1)
INSERT [dbo].[Jenjang] ([id], [nama_jenjang], [deskripsi], [tingkatan_jenjang]) VALUES (2, N'SMP', N'Sekolah Menengah Pertama', 2)
INSERT [dbo].[Jenjang] ([id], [nama_jenjang], [deskripsi], [tingkatan_jenjang]) VALUES (3, N'SMK', N'Sekolah Menengah Kejurusan', 3)
SET IDENTITY_INSERT [dbo].[Jenjang] OFF
GO
SET IDENTITY_INSERT [dbo].[Lamaran] ON 

INSERT [dbo].[Lamaran] ([id], [id_pelamar], [id_lowongan], [tanggal_melamar], [pesan_pelamar], [resume], [status_lamaran], [nilai_uji_kompetensi], [nilai_wawancara]) VALUES (1, 1, 1, CAST(N'2021-07-21' AS Date), N'dsfdsf', N'210721-123726-839.png', 6, 23, 90)
INSERT [dbo].[Lamaran] ([id], [id_pelamar], [id_lowongan], [tanggal_melamar], [pesan_pelamar], [resume], [status_lamaran], [nilai_uji_kompetensi], [nilai_wawancara]) VALUES (2, 3, 2, CAST(N'2021-07-14' AS Date), N'Saya ingin melamar di perusahaan anda', N'140721-055313-895.pdf', 2, NULL, NULL)
INSERT [dbo].[Lamaran] ([id], [id_pelamar], [id_lowongan], [tanggal_melamar], [pesan_pelamar], [resume], [status_lamaran], [nilai_uji_kompetensi], [nilai_wawancara]) VALUES (3, 6, 1, CAST(N'2021-07-13' AS Date), N'Saya memiliki kemampuan kerjasama tim yang baik', NULL, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Lamaran] OFF
GO
SET IDENTITY_INSERT [dbo].[Lowongan] ON 

INSERT [dbo].[Lowongan] ([id], [id_perusahaan], [id_jenis_pegawai], [judul_lowongan], [keterangan], [jenjang_minimal], [gaji_minimal], [gaji_maksimal], [pengalaman_kerja], [keahlian], [sembunyikan_gaji], [status], [created_date], [last_modified]) VALUES (1, 1, 1, N'Front-End Developer', N'asdasd', 4, 5000000, 10000000, N'1 - 3 tahun', N'Spring, Laravel, React.js', 0, 1, CAST(N'2021-06-30' AS Date), CAST(N'2021-07-02' AS Date))
INSERT [dbo].[Lowongan] ([id], [id_perusahaan], [id_jenis_pegawai], [judul_lowongan], [keterangan], [jenjang_minimal], [gaji_minimal], [gaji_maksimal], [pengalaman_kerja], [keahlian], [sembunyikan_gaji], [status], [created_date], [last_modified]) VALUES (2, 2, 2, N'Back-End Developer', N'asdasd', 5, 6000000, 9000000, N'< 1 tahun', N'Node.js, Lumen', 0, 1, CAST(N'2021-06-30' AS Date), CAST(N'2021-07-02' AS Date))
INSERT [dbo].[Lowongan] ([id], [id_perusahaan], [id_jenis_pegawai], [judul_lowongan], [keterangan], [jenjang_minimal], [gaji_minimal], [gaji_maksimal], [pengalaman_kerja], [keahlian], [sembunyikan_gaji], [status], [created_date], [last_modified]) VALUES (3, 1, 3, N'Data Science', N'asdfghjkl', 4, 12000, 15000, N'3 tahun', N'SQL, R, Phyton', 0, 1, CAST(N'2021-07-07' AS Date), CAST(N'2021-07-02' AS Date))
SET IDENTITY_INSERT [dbo].[Lowongan] OFF
GO
SET IDENTITY_INSERT [dbo].[Pelamar] ON 

INSERT [dbo].[Pelamar] ([id], [tanggal_lahir], [jenis_kelamin], [kota], [alamat], [no_telepon], [headline], [dokumen_cv], [id_user_login], [row_status]) VALUES (1, CAST(N'2021-06-25' AS Date), N'L', N'Ponorogo', N'Trisono', N'082380535032', NULL, NULL, 6, 0)
INSERT [dbo].[Pelamar] ([id], [tanggal_lahir], [jenis_kelamin], [kota], [alamat], [no_telepon], [headline], [dokumen_cv], [id_user_login], [row_status]) VALUES (2, CAST(N'2001-06-24' AS Date), N'L', N'Jakarta', N'Kp. Rambutan', N'083647364736', NULL, NULL, 7, 0)
INSERT [dbo].[Pelamar] ([id], [tanggal_lahir], [jenis_kelamin], [kota], [alamat], [no_telepon], [headline], [dokumen_cv], [id_user_login], [row_status]) VALUES (3, CAST(N'2001-06-01' AS Date), N'P', N'Jakarta', N'Jaksel', N'089392788438', NULL, NULL, 8, 0)
SET IDENTITY_INSERT [dbo].[Pelamar] OFF
GO
SET IDENTITY_INSERT [dbo].[Pendidikan] ON 

INSERT [dbo].[Pendidikan] ([id], [id_pelamar], [id_jenjang], [nama_jurusan], [nama_universitas], [tahun_mulai], [tahun_selesai], [row_status]) VALUES (1, 1, 5, N'Sistem Informasi', N'Politeknik Astra', N'2015', N'2019', 1)
INSERT [dbo].[Pendidikan] ([id], [id_pelamar], [id_jenjang], [nama_jurusan], [nama_universitas], [tahun_mulai], [tahun_selesai], [row_status]) VALUES (2, 1, 7, N'Teknik Informatika', N'Universitas Binus', N'2019', N'2021', 1)
INSERT [dbo].[Pendidikan] ([id], [id_pelamar], [id_jenjang], [nama_jurusan], [nama_universitas], [tahun_mulai], [tahun_selesai], [row_status]) VALUES (3, 1, 8, N'Teknik Informatika', N'Universitas Indonesia', N'2022', N'2025', 1)
SET IDENTITY_INSERT [dbo].[Pendidikan] OFF
GO
SET IDENTITY_INSERT [dbo].[Pengalaman] ON 

INSERT [dbo].[Pengalaman] ([id], [id_pelamar], [id_jabatan], [id_jenis_pegawai], [nama_perusahaan], [mulai_kerja], [terakhir_kerja], [deskripsi], [file_attachment], [row_status]) VALUES (1, 1, 1, 2, N'BlueBird Indonesian', CAST(N'2021-06-22' AS Date), CAST(N'2021-08-17' AS Date), NULL, NULL, 0)
INSERT [dbo].[Pengalaman] ([id], [id_pelamar], [id_jabatan], [id_jenis_pegawai], [nama_perusahaan], [mulai_kerja], [terakhir_kerja], [deskripsi], [file_attachment], [row_status]) VALUES (2, 1, 6, 1, N'Google Indonesia', CAST(N'2021-08-22' AS Date), CAST(N'2021-10-22' AS Date), NULL, NULL, 1)
INSERT [dbo].[Pengalaman] ([id], [id_pelamar], [id_jabatan], [id_jenis_pegawai], [nama_perusahaan], [mulai_kerja], [terakhir_kerja], [deskripsi], [file_attachment], [row_status]) VALUES (3, 1, 1, 3, N'GOJEK', CAST(N'2021-06-24' AS Date), CAST(N'2021-06-25' AS Date), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Pengalaman] OFF
GO
SET IDENTITY_INSERT [dbo].[Percakapan] ON 

INSERT [dbo].[Percakapan] ([id], [id_pesan], [isi_pesan], [dilihat], [create_time], [role]) VALUES (1, 1, N'Halo', N'1', NULL, 6)
INSERT [dbo].[Percakapan] ([id], [id_pesan], [isi_pesan], [dilihat], [create_time], [role]) VALUES (2, 1, N'Halo 2', N'1', NULL, 6)
INSERT [dbo].[Percakapan] ([id], [id_pesan], [isi_pesan], [dilihat], [create_time], [role]) VALUES (3, 1, N'Halo 3', N'1', NULL, 6)
SET IDENTITY_INSERT [dbo].[Percakapan] OFF
GO
SET IDENTITY_INSERT [dbo].[Perusahaan] ON 

INSERT [dbo].[Perusahaan] ([id], [nama_perusahaan], [alamat_lengkap], [provinsi], [kota], [telah_terverifikasi], [foto_profil], [bidang_perusahaan], [row_status], [id_user_login]) VALUES (1, N'Tokopedia', N'Jl. Dummy', N'Jakarta', N'Jakarta Utara', 1, N'tokopedia-2021.png', N'Startup IT', 0, 11)
INSERT [dbo].[Perusahaan] ([id], [nama_perusahaan], [alamat_lengkap], [provinsi], [kota], [telah_terverifikasi], [foto_profil], [bidang_perusahaan], [row_status], [id_user_login]) VALUES (2, N'PT Astra Graphia Information Technology', N'Jl. Dummy', N'Jakarta', N'Jakarta Utara', 1, N'agit-2021.png', N'Computer Networking', 0, 12)
INSERT [dbo].[Perusahaan] ([id], [nama_perusahaan], [alamat_lengkap], [provinsi], [kota], [telah_terverifikasi], [foto_profil], [bidang_perusahaan], [row_status], [id_user_login]) VALUES (3, N'Babel Farma', N'Jl. Simatupang', N'Jawa Barat', N'Bekasi', 1, N'default-company.png', N'Properti', 0, 13)
SET IDENTITY_INSERT [dbo].[Perusahaan] OFF
GO
SET IDENTITY_INSERT [dbo].[Pesan] ON 

INSERT [dbo].[Pesan] ([id], [pengirim_satu], [pengirim_dua], [pesan_terakhir]) VALUES (1, 6, 11, N'Halo')
INSERT [dbo].[Pesan] ([id], [pengirim_satu], [pengirim_dua], [pesan_terakhir]) VALUES (2, 7, 11, N'Halo 2')
INSERT [dbo].[Pesan] ([id], [pengirim_satu], [pengirim_dua], [pesan_terakhir]) VALUES (3, 8, 11, N'Halo 3')
SET IDENTITY_INSERT [dbo].[Pesan] OFF
GO
SET IDENTITY_INSERT [dbo].[Sertifikat] ON 

INSERT [dbo].[Sertifikat] ([id], [id_pelamar], [judul], [no_sertifikat], [berlaku_mulai], [berlaku_sampai], [file_attachment], [row_status]) VALUES (1, 1, N'Fundamental Programming Beginner 1', N'2001-2021', CAST(N'2014-06-18' AS Date), CAST(N'2018-06-18' AS Date), N'fsdfdsfdsgdgdfgfg', 0)
INSERT [dbo].[Sertifikat] ([id], [id_pelamar], [judul], [no_sertifikat], [berlaku_mulai], [berlaku_sampai], [file_attachment], [row_status]) VALUES (2, 1, N'Fundamental Programming Beginner', N'2001-2021', CAST(N'2014-06-18' AS Date), CAST(N'2018-06-18' AS Date), N'fsdfdsfdsgdgdfgfg', 1)
INSERT [dbo].[Sertifikat] ([id], [id_pelamar], [judul], [no_sertifikat], [berlaku_mulai], [berlaku_sampai], [file_attachment], [row_status]) VALUES (3, 1, N'Fundamental Programming Expertz', N'1431-1233e343', CAST(N'2021-06-23' AS Date), CAST(N'2024-06-23' AS Date), N'asddsfdsgdfgdf', 1)
SET IDENTITY_INSERT [dbo].[Sertifikat] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLogin] ON 

INSERT [dbo].[UserLogin] ([id], [nama], [email], [password], [user_role], [locked], [enabled], [row_status], [foto_profil]) VALUES (1, N'M. Rifqy Herdiyanto', N'muhrifh@gmail.com', N'$2a$10$vndr1mFEcSArOlsOiZhVteMBcTgfVSPjeMpvbuE2T4vglTn7bEleK', 0, 0, 1, 1, N'default-employee.png')
INSERT [dbo].[UserLogin] ([id], [nama], [email], [password], [user_role], [locked], [enabled], [row_status], [foto_profil]) VALUES (2, N'M. Ivan Firman', N'ivanmansyah@gmail.com', N'$2a$10$vndr1mFEcSArOlsOiZhVteMBcTgfVSPjeMpvbuE2T4vglTn7bEleK', 0, 0, 1, 1, N'default-employee.png')
INSERT [dbo].[UserLogin] ([id], [nama], [email], [password], [user_role], [locked], [enabled], [row_status], [foto_profil]) VALUES (3, N'Rafli Mayori', N'rafli.mayori@gmail.com', N'$2a$10$vndr1mFEcSArOlsOiZhVteMBcTgfVSPjeMpvbuE2T4vglTn7bEleK', 0, 0, 1, 1, N'default-employee.png')
SET IDENTITY_INSERT [dbo].[UserLogin] OFF
GO
SET IDENTITY_INSERT [dbo].[VerifikasiPerusahaan] ON 

INSERT [dbo].[VerifikasiPerusahaan] ([id], [id_perusahaan], [npwp], [tdp], [siu], [hasil], [created_date], [last_modified], [diverifikasi_oleh], [komentar]) VALUES (1, 1, N'01.855.081.4-412.000', N'070721-025255-333.pdf', N'070721-025255-333.pdf', 1, CAST(N'2021-12-07' AS Date), CAST(N'2021-12-07' AS Date), N'Mochammad Rifqy', N'Sudah baik')
INSERT [dbo].[VerifikasiPerusahaan] ([id], [id_perusahaan], [npwp], [tdp], [siu], [hasil], [created_date], [last_modified], [diverifikasi_oleh], [komentar]) VALUES (2, 2, N'02.155.081.4-409.000', N'070721-025255-333.pdf', N'070721-025255-333.pdf', 1, CAST(N'2021-12-07' AS Date), CAST(N'2021-12-07' AS Date), N'Mochammad Rifqy', N'Sudah baik')
INSERT [dbo].[VerifikasiPerusahaan] ([id], [id_perusahaan], [npwp], [tdp], [siu], [hasil], [created_date], [last_modified], [diverifikasi_oleh], [komentar]) VALUES (3, 3, N'01.355.091.2-214.000', N'070721-025255-333.pdf', N'070721-025255-333.pdf', 1, CAST(N'2021-12-07' AS Date), CAST(N'2021-12-07' AS Date), N'Mochammad Rifqy', N'Sudah baik')
SET IDENTITY_INSERT [dbo].[VerifikasiPerusahaan] OFF
GO
ALTER TABLE [dbo].[Pengalaman] ADD  CONSTRAINT [DF_Pengalaman_file_attachment]  DEFAULT ('default.jpg') FOR [file_attachment]
GO
ALTER TABLE [dbo].[UserLogin] ADD  CONSTRAINT [DF_UserLogin_status]  DEFAULT ((1)) FOR [row_status]
GO
ALTER TABLE [dbo].[ConfirmationToken]  WITH CHECK ADD  CONSTRAINT [FK_ConfirmationToken_UserLogin] FOREIGN KEY([id_user])
REFERENCES [dbo].[UserLogin] ([id])
GO
ALTER TABLE [dbo].[ConfirmationToken] CHECK CONSTRAINT [FK_ConfirmationToken_UserLogin]
GO
ALTER TABLE [dbo].[Lamaran]  WITH CHECK ADD  CONSTRAINT [FK_Lamaran_Lowongan] FOREIGN KEY([id_lowongan])
REFERENCES [dbo].[Lowongan] ([id])
GO
ALTER TABLE [dbo].[Lamaran] CHECK CONSTRAINT [FK_Lamaran_Lowongan]
GO
ALTER TABLE [dbo].[Lamaran]  WITH CHECK ADD  CONSTRAINT [FK_Lamaran_Pelamar] FOREIGN KEY([id_pelamar])
REFERENCES [dbo].[Pelamar] ([id])
GO
ALTER TABLE [dbo].[Lamaran] CHECK CONSTRAINT [FK_Lamaran_Pelamar]
GO
ALTER TABLE [dbo].[Lowongan]  WITH CHECK ADD  CONSTRAINT [FK_Lowongan_JenisPegawai] FOREIGN KEY([id_jenis_pegawai])
REFERENCES [dbo].[JenisPegawai] ([id])
GO
ALTER TABLE [dbo].[Lowongan] CHECK CONSTRAINT [FK_Lowongan_JenisPegawai]
GO
ALTER TABLE [dbo].[Lowongan]  WITH CHECK ADD  CONSTRAINT [FK_Lowongan_Perusahaan] FOREIGN KEY([id_perusahaan])
REFERENCES [dbo].[Perusahaan] ([id])
GO
ALTER TABLE [dbo].[Lowongan] CHECK CONSTRAINT [FK_Lowongan_Perusahaan]
GO
ALTER TABLE [dbo].[Notifikasi]  WITH CHECK ADD  CONSTRAINT [FK_Notifikasi_Lamaran] FOREIGN KEY([id_lamaran])
REFERENCES [dbo].[Lamaran] ([id])
GO
ALTER TABLE [dbo].[Notifikasi] CHECK CONSTRAINT [FK_Notifikasi_Lamaran]
GO
ALTER TABLE [dbo].[Pendidikan]  WITH CHECK ADD  CONSTRAINT [FK_Pendidikan_Jenjang] FOREIGN KEY([id_jenjang])
REFERENCES [dbo].[Jenjang] ([id])
GO
ALTER TABLE [dbo].[Pendidikan] CHECK CONSTRAINT [FK_Pendidikan_Jenjang]
GO
ALTER TABLE [dbo].[Pendidikan]  WITH CHECK ADD  CONSTRAINT [FK_Pendidikan_Pelamar] FOREIGN KEY([id_pelamar])
REFERENCES [dbo].[Pelamar] ([id])
GO
ALTER TABLE [dbo].[Pendidikan] CHECK CONSTRAINT [FK_Pendidikan_Pelamar]
GO
/****** Object:  StoredProcedure [dbo].[eliminatePelamarByPendidikan]    Script Date: 23/07/2021 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminatePelamarByPendidikan] @IdLowongan int
AS
UPDATE Lamaran SET status_lamaran = 1 WHERE id IN (
            SELECT id_lamaran FROM view_LamaranPelamar WHERE id_lowongan = @IdLowongan AND tingkatan_jenjang < jenjang_minimal AND status_lamaran = 0)
UPDATE Lamaran SET status_lamaran = 2 WHERE id IN (
            SELECT id_lamaran FROM view_LamaranPelamar WHERE id_lowongan = @IdLowongan AND tingkatan_jenjang > jenjang_minimal AND status_lamaran = 0)
GO
USE [master]
GO
