<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout/pelamar}">
<head>
  <meta charset="UTF-8">
  <title>Daftar Notifikasi</title>
</head>

<body>
<div layout:fragment="header">
  <h4 class="page-title">Pelamar</h4>
  <ul class="breadcrumbs">
    <li class="nav-home">
      <a href="#">
        <i class="flaticon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="flaticon-right-arrow"></i>
    </li>
    <li class="nav-item">
      <a href="#">Notifikasi</a>
    </li>
  </ul>
</div>

<div layout:fragment="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Notifikasi</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="add-row" class="display table table-striped table-hover dataTable">
                <thead>
                <tr>
                  <td>#</td>
                  <td>Tgl. Notifikasi</td>
                  <td>Judul Lowongan</td>
                  <td>Perusahaan</td>
                  <td>Tahap</td>
                  <td>Tgl. Tahapan</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notification, iter : ${notifications}">
                  <td th:text="${iter.index + 1}"></td>
                  <td th:text="${#dates.format(notification.createdDate, 'dd MMM yyyy, HH:mm')}"></td>
                  <td th:text="${notification.lamaran.lowongan.judulLowongan}"></td>
                  <td th:text="${notification.lamaran.lowongan.perusahaan.userLogin.nama}"></td>
                  <td th:text="${notification.tahap}"></td>
                  <td th:text="${#dates.format(notification.tanggalTahapan, 'dd MMM yyyy, HH:mm')}"></td>
                </tr>
                </tbody>
              </table>

        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>